version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.12

    steps:
      - checkout

      - run:
          name: Install uv
          command: |
            python -m pip install --upgrade pip
            pip install uv
            uv --version

      - run:
          name: Install dependencies
          command: |
            uv sync --all-packages --dev

      - run:
          name: Ruff
          command: |
            uv run ruff check .

      - run:
          name: MyPy
          command: |
            uv run mypy --config-file mypy.ini

      - run:
          name: Pytest with coverage
          command: |
            uv run pytest --cov=src --cov-report=term-missing

workflows:
  version: 2
  test:
    jobs:
      - test
